body {
	margin: 0;
	padding: 0;
	border: 0;

	background-color: black;
}

.main {
	display: grid;
	grid-row: 1/2;
}

.game {
	grid-column: 1;
}

#canvas {
	grid-column: 2;
	position: fixed;
	bottom: 0px;
	right: 10px;
	top:21px;
    left: 900px;
    
	
   
}



#gameBoard{
	background-image: url("highway_map.png");
}
#webcam{
	background-color: red;
}
#score{
	background-color: purple;

}